@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

body h1 {
    margin: 80px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0;

    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* Animations */

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: translateY(20px);
    }
    to{

    }
}