@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700,900&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

body h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}