@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

body h1 {
    margin: 80px 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0;

    animation-name: fade, slideUp;
    animation-fill-mode: forwards;
    animation-duration: 2s, 0.5s;
}

#menu {
    padding: 8px;


    width: 800px;
    transition: 800ms;

    border-radius: 8px 8px 0 0;

    opacity: 0;

    text-decoration: none;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 800ms;
    background-color: rgb(209, 209, 209);
}

#menu:hover {

    transition: 800ms;
}

#menu a {
    text-decoration: none;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 400ms;

    opacity: 0;
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    transition: 200ms;

}

#menu a:hover {
    letter-spacing: 2px;
    transition: 200ms;
    color: rgb(31, 31, 31);
}

#menu a + a {
    margin-left: 8px;
}

#content {
    opacity: 0;

    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1100ms;

    background-color: rgb(228, 228, 228);
    padding-bottom: 20px;
}

#content h1 {
        margin: 20px 0 20px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        opacity: 0;
    
        animation-name: fade, slideUp;
        animation-fill-mode: forwards;
        animation-duration: 2s, 0.5s;
}

/* Animations */

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}